body{
    background-color: red;
    background-image: url("error.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}