body {
    background-color: #d43348;
    background-image: url("coracao.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #f0e2e2;
    display: block;
    margin: 3.5vh;
    margin-top: 15vh;
    text-align: center;
    font-size: 6vh;
}

.btn {
    display: flex;
    gap: 4vh;
    margin: 3vh;
    margin-bottom: 8vh;
    justify-content: center;
}

button {
    padding: 2vh 5vh;
    border-radius: 1vh;
    border: none;
    background-color: #f0e2e2;
    color: #d43348;
    font-weight: 1000;
    font-size: 2vh;
}

#novaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

IMG {
    border-radius: 2vh;
    margin: 2vh;
    max-width: 15vh;

}

@media screen and (max-width:1050px){
    h1 {
        font-size: 4vh;
    }
    .btn {
        gap: 2vh;
        margin: 1vh;
        margin-bottom: 6vh;
    }
}